---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d522631701af77d50425a45c6680e5e4a4931db1a1f94832fb1ca19de88db2f"
      Last-Modified:
      - Wed, 22 Jun 2022 19:23:09 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1658621437'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"invalid","id":597695,"node_id":"MDQ6VXNlcjU5NzY5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/597695?v=4","gravatar_id":"","url":"https://api.github.com/users/invalid","html_url":"https://github.com/invalid","followers_url":"https://api.github.com/users/invalid/followers","following_url":"https://api.github.com/users/invalid/following{/other_user}","gists_url":"https://api.github.com/users/invalid/gists{/gist_id}","starred_url":"https://api.github.com/users/invalid/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/invalid/subscriptions","organizations_url":"https://api.github.com/users/invalid/orgs","repos_url":"https://api.github.com/users/invalid/repos","events_url":"https://api.github.com/users/invalid/events{/privacy}","received_events_url":"https://api.github.com/users/invalid/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2011-02-02T23:08:44Z","updated_at":"2022-06-22T19:23:09Z"}'
  recorded_at: Sun, 24 Jul 2022 00:01:45 GMT
- request:
    method: get
    uri: https://api.github.com/users/invalid/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"992aaf92b487506974e4305db4a64326866f3ed48b2ba424cef8fbe4e28f72b0"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1658621437'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 24 Jul 2022 00:01:45 GMT
- request:
    method: get
    uri: https://api.github.com/users/invalid/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"992aaf92b487506974e4305db4a64326866f3ed48b2ba424cef8fbe4e28f72b0"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1658621437'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '9'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 24 Jul 2022 00:01:45 GMT
recorded_with: VCR 6.1.0
